@import '../../assets/scss/variables.scss';
.pokemon-chain-list {
  max-width: 1024px;
  margin: 0 auto;
  padding: 24px;
  .back-to-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .back {
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      i {
        font-size: 24px;
        transition: .2s all ease-in-out;
      }
      .text {
        margin: 0 0 0 12px;
      }
    }
    .selected {
      font-size: 22px;
      b {
        text-transform: capitalize;
        font-weight: bolder;
      }
    }
    span {
      visibility: hidden;
    }
  }
  .chain-list {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .single-pokemon-container {
      .single-pokemon {
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 48px;
        img {
          max-width: 150px;
          height: auto;
        }
        .name {
          font-size: 17px;
          text-transform: capitalize;
          margin: 8px 0 0 0;
        }
      }
    }
    .icon-right {
      font-size: 50px;
    }
  }
  .level-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 32px 0;
    .level-text {
      font-size: 22px;
    }
  }
}